/** {*/
/*    box-sizing: border-box;*/
/*    margin: 0;*/
/*    padding: 0;*/
/*    }*/

body {
    font-family: Barlow, sans-serif;
}

header {
    background: #FFB400;
    color: #ffffff;
    height: 70px;
    display: flex;
    flex-wrap: wrap;
}

.navigatiebalk {
    justify-content: flex-end;
}

.navigatiebalk li {
    list-style-type: none;
    border: 1px #ffffff solid;
    border-radius: 10px;
    padding: 10px;
    text-align: center;
    height: auto;
    margin-bottom: 10px;
    align-content: end;
    display: inline-block;
}

li form div img {
    width: 20px;
    height: 20px;
}

.logo {
    align-content: center;
    padding: 10px;
}

.dagpromotie {
    margin: 10px;
    display: flex;
    justify-content: center;
}

.dagpromotie img {
    width: 70%;
    height: auto;
    opacity: 0.5;
    display: flex;
    justify-content: center;
    border-radius: 15px;
}

.dagpromotietekst {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: #3C36A1;
    text-align: center;
    font-size: 50px;
}

.dagpromotietekstkleur {
    color: #FFFFFF;
    font-weight: bold;
}

.titel {
    width: 70%;
    margin: auto;
}

.producten {
    /*width: 70%;*/
    /*display: flex;*/
    /*justify-content: center;*/
    /*flex-wrap: wrap;*/
    margin: auto;
    /*gap: 10px;*/
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    justify-content: center;
    width: 70%;
    gap: 24px;
}

.producten h2 {
    grid-column: 1/-1;
    margin: 40px 0 20px;
}

.producten img {
    border-radius: 10px;
}

.menu-item {
    background-color: #3C36A1;
    color: #ffffff;
    /*width: 25%;*/
    padding: 5px;
    /*margin: 10px 0;*/
    overflow: hidden;
    border-radius: 10px;
}

.filters {
    margin-left: 225px;
}

.filters button {
    border: 1px #FFB400 solid;
    background-color: #ffb400;
    color: #ffffff;
    border-radius: 10px;
    padding: 10px;
    margin-top: 10px;
    text-align: center;
    height: auto;
}

.menu-item .winkelwagenKnop {
    margin-left: 10px;
}

#optiesDialoog {
    background: #ffffff;
    color: #3C36A1;
}

#optiesDialoog button {
    border: 1px #FFB400 solid;
    background-color: #ffb400;
    color: #ffffff;
    border-radius: 10px;
    padding: 10px;
    margin-top: 10px;
    text-align: center;
    height: auto;
}

.forminloggen {
    max-width: 360px;
    border-radius: 16px;
    border: 3px #FFB400 solid;
    margin: 40px auto;
}

#gebruikersnaam {
    border-radius: 8px;
    border: 1px #3c36a1 solid;
    margin: 5px;
    padding: 5px;
}

#wachtwoord {
    border-radius: 8px;
    border: 1px #3c36a1 solid;
    padding: 5px
}

form button {
    border: 1px #FFB400 solid;
    background-color: #ffb400;
    color: #ffffff;
    border-radius: 10px;
    padding: 10px;
    margin-top: 10px;
    text-align: center;
    height: auto;
}

.profielafbeeldinggroep {
    text-align: center;
    margin: 28px 0 16px 0;
}

.profielafbeelding {
    width: 30%;
    border-radius: 50%;
}

.inloggen {
    padding: 10px;
}

.kortingopenen {
    background-color: #ffb400;
    color: #ffffff;
    padding: 16px 20px;
    border: none;
    position: fixed;
    bottom: 23px;
    right: 28px;
    width: 280px;
}

#kortingsdialog {
    background: #ffffff;
    color: #3C36A1;
}

.formdialog {
    align-content: center;
}
